{{ define "main" }}
<div class="row justify-content-center">
    <div class="col-md-12 col-lg-10 col-xl-8">
        <article>
            <h1 class="text-center">Page not found 🧐</h1>
            <p class="text-center">The page you are looking for doesn't exist or has been moved.</p>
            <hr>
            <br>
            <p class="text-center">
                You can try to search it inside
                <a href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}">docs</a>
                or go to <a href="/">home</a> page.
            </p>
        </article>
    </div>
</div>
{{ end }}